# Set default behavior to handle line endings
* text=auto

# Force binary files to be treated as binary and not converted
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary
*.bin binary
*.unity binary
*.prefab binary
*.fbx binary
*.asset binary
*.mp3 binary
*.wav binary
*.ogg binary
*.tga binary
*.psd binary
*.cubemap binary
*.anim binary
*.mat binary
*.ttf binary
*.csproj binary
*.sln binary

# Unity-specific files that should always use LF
*.cs text eol=lf
*.shader text eol=lf
*.meta text eol=lf
